/* Základné štýly */
* {
  box-sizing: border-box;
}

body {
  background-color: rgb(228, 216, 228);
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}


.Nazov {
  font-family: Roboto, Arial, Helvetica, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(135deg, rgb(97, 87, 97), rgb(70, 63, 70));
  color: #fff;
  padding: 20px;
  width: 100%;
  font-size: 50px;
  font-weight: bold;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  margin-bottom: 20px;
  margin-top: 20px;
}

.refresh-button {
  cursor: pointer;
  justify-content: center;
  align-items: center;
  font-size: 30px;
  background-color: transparent;
  border: 0;
  padding: 10px;
  text-decoration: none;
  color: rgb(19, 18, 19);
  transition: color 0.3s, transform 0.2s;
}

.refresh-button:hover {
  color: black;
}


.contact-section {
  background-color: #ffffff;
  border-radius: 8px;
  padding: 30px;
  margin: 20px;
  max-width: 600px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
  
}

.contact-section h1 {
  color: rgb(70, 63, 70);
  font-size: 2em;
  margin-bottom: 10px;
}

.contact-section p {
  color: #666666;
  font-size: 1em;
  line-height: 1.5;
}

.contact-info h2 {
  color: rgb(97, 87, 97);
  font-size: 1.2em;
  margin-top: 20px;
}

.contact-info p {
  color: #333333;
}

.contact-info a {
  color: rgb(97, 87, 97);
  text-decoration: none;
  font-weight: bold;
  transition: color 0.3s;
  display: inline-block;
}

.contact-info a:hover {
  color: black;
}
footer.logos {
  background-color: white;
  padding: 10px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 -1px 5px rgba(0, 0, 0, 0.1); 
  margin-top: 30px;
  width: 400px;
  height: 80px;
  border-radius: 8px
}
  .social-icons{
    display: flex;
    gap: 20px;
    justify-content: center;
    align-items: center;
    width: auto; 
    margin: 0 auto;
    }

.social-icons div {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #333;
  font-size: 15px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
  
  height: 65px;
  border-radius: 50%;
  font-size: 30px;
  width: 65px;
}

.social-icons  a {
  text-decoration: none;
  color: inherit;
}



.social-icons :hover {
  transform: scale(1.1);
  background-color: #de0e23;
  color: #fff;
}

.social-icons :hover i {
  color: #de0e23;
}
