
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: rgb(228, 216, 228); 
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: Arial, sans-serif;
}


.Nazov {
  font-family: Roboto, Arial, Helvetica, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(135deg, rgb(97, 87, 97), rgb(70, 63, 70));
  color: #fff;
  padding-top: 20px;
  padding-bottom: 60px;
  width: 100%;
  max-width: 1200px; 
  font-size: 50px;
  font-weight: bold;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin-bottom: 0; 
  
}


.search-container {
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(135deg, rgb(97, 87, 97), rgb(70, 63, 70)); 
  padding: 10px;
  width: 100%; 
  max-width: 1200px; 
  border-bottom-left-radius: 20px; 
  border-bottom-right-radius: 20px; 
}


.search-bar {
  width: 200px;
  height: 40px; 
  border-radius: 0;
  border: none;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  padding-left: 10px;
  font-size: 16px;
}

.search-button {
  height: 40px; 
  width: 40px;
  background-color: white;
  border: none;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: background-color 0.3s;
}

.search-button:hover {
  background-color: #e0e0e0;
}

.search-icon {
  width: 15px;
  height: 15px;
}


.Recepty-button, .Kontakty-button, .Vlastny-button {
  font-size: 30px;
  color: rgb(19, 18, 19);
  background-color: transparent;
  border: none;
  cursor: pointer;
  transition: transform 0.2s, color 0.3s;
  text-decoration: none;
  margin-top: 40px;
  display: inline-block; 
}



.Recepty-button:hover, .Kontakty-button:hover, .Vlastny-button:hover {
  color: black; 
}


.refresh-button {
  font-size: 50px;
  color: rgb(19, 18, 19);
  background-color: transparent;
  border: none;
  cursor: pointer;
  margin-top: 40px;
  transition: color 0.3s;
}

.refresh-button:hover {
  color: black;
}


.register {
  font-size: 20px;
  padding: 8px 16px;
  margin-left: 50px;
  color: rgb(97, 87, 97);
  border: 1px solid rgb(97, 87, 97);
  border-radius: 15px;
  background-color: white;
  cursor: pointer;
  transition: color 0.3s, background-color 0.3s;
  margin-top: 50px;
}
.log-in {
  font-size: 20px;
  padding: 8px 16px;
  margin-left: 50px;
  color: rgb(97, 87, 97);
  border: 1px solid rgb(97, 87, 97);
  border-radius: 15px;
  background-color: white;
  cursor: pointer;
  transition: color 0.3s, background-color 0.3s;
  margin-top: 50px;
}
.register:hover , .log-in:hover {
  color: white;
  background-color: rgb(97, 87, 97);
}


.registerform, .loginform {
  border-radius: 15px;
  border: 1px solid rgb(97, 87, 97);
}

.loginform {
  background-color: cornflowerblue;
}


a {
  text-decoration: none;
  color: black;
}

a:hover {
  color: black;
}

a:visited {
  color: black;
}


.refresh-button:hover, .register:hover, .log-in:hover, .Recepty-button:hover, .Kontakty-button:hover, .Vlastny-button:hover {
  transform: scale(1.05);
}
.selection a {
  display:inline-block;
  justify-content: space-between;
  text-align: center;
  margin-left: 75px;
  margin-right: 75px;
  margin-bottom: 40px;
}
.selection{
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(135deg, rgb(146, 145, 146), rgb(97, 87, 97)); 
  padding: 10px;
  width: 100%; 
  max-width: 1200px; 
 
  border-bottom-left-radius: 20px; 
  border-bottom-right-radius: 20px; 

}

