* {
  box-sizing: border-box;
 
}
body {
  background-color: rgb(242, 236, 242); 
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: Arial, sans-serif;
}


.Nazov {
  font-family: Roboto, Arial, Helvetica, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(135deg, rgb(97, 87, 97), rgb(70, 63, 70));
  color: #fff;
  padding: 20px;
  width: 100%;
  font-size: 50px;
  font-weight: bold;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  margin-bottom: 20px;
}
.refresh-button {
  cursor: pointer;
  justify-content: center;
  align-items: center;
  font-size: 30px;
  background-color: transparent;
  border: 0;
  padding: 10px;
  text-decoration: none;
  color: rgb(19, 18, 19);
  transition: color 0.3s, transform 0.2s;
}


.refresh-button:hover {
  color: black; 
}


.refresh-button:visited {
  color: black; 
}